<%= simple_form_for(@gig) do |f| %>
  <%= f.error_notification %>

  <fieldset class="last-child">
    <%= f.input :name, :autofocus => true %>
    <%= f.input :place %>
    <%= f.input :time %>
  </fieldset>

  <div class="actions">
    <%= f.submit t(:create_gig, scope: [:gigs, :new]) %> или <%= link_to t(:cancel, scope: [:gigs]), gigs_path %>
  </div>
<% end %>
